# idea ignore
.idea/
*.iws
*.iml
*.ipr
out
gen

# Compiled class file
*.class

# maven ignore
target/

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db

# package ignore
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# node ignore
node_modules/
dist/

package-lock.json
yarn.lock

# Editor directories and files
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.local

